/**
 * Panel Styles
 *
 * @author Rascals Themes
 * @category CSS
 * @package Rascals Panel
 * @version 1.0.0
 */

/* Clearfix
------------------------------------------------------------------------ */
.clear {
    clear: both;
    display: block;
    height: 1px;
    margin-top: -1px;
    overflow: hidden;
    visibility: hidden;
    width: 0
}

.clearfix:after {
    clear: both;
    content: ' ';
    display: block;
    font-size: 0;
    height: 0;
    line-height: 0;
    visibility: hidden;
    width: 0
}

* html .clearfix,
:first-child+html .clearfix {
    zoom: 1
}


/* UI Helpers
------------------------------------------------------------------------ */
.ui-custom-overlay {
    z-index: 1001 !important;
}

body .ui-custom-dialog {
    z-index: 99999 !important;
    background: #f8f8f8 !important;
    box-shadow: 0 1px 10px 4px rgba(0, 0, 0, 0.13);
    border: 1px solid #d4d4d4 !important;
    -webkit-border-radius: 5px;
}


/* Structure
------------------------------------------------------------------------ */
#rascals-panel {
    overflow: hidden;
    vertical-align: top;
    float: left;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    min-height: 850px;
    width: 870px;
    margin: 40px 0 20px 20px;
    /* border:1px solid #ddd; */
    box-shadow: 0px 3px 10px #ddd;
}

#rascals-panel-top {
    width: 100%;
    background: #c5c5c5;
    overflow: hidden;
    display: none;
}

#rascals-panel-top .mobile-button {
    float: right;
    cursor: pointer;
    margin: 10px 20px;
}
#rascals-panel-top #_save_mobile {
    float:left;
}
#rascals-panel-top .mobile-button i {
    color: #666;
    font-size: 36px;
    line-height: normal;
}

#rascals-panel-top .mobile-button:hover i {
    color: #111;
}

#rascals-panel-top #_save_mobile i {
    margin: 0;
}
#rascals-panel strong {
    color:#333;
}
#rascals-panel pre {
    font-size: 10px;
    color:#999;
    padding: 5px;
    border: 1px solid #eee;
    background:#f9f9f9;
    
}

/* Sidebar
------------------------------------------------------------------------ */
#rascals-panel-sidebar {
    float: left;
    width: 225px;
    position: relative;
    background: #e7e7e7;
    text-align: center;
    overflow: hidden;
    margin-bottom: -10000px;
    padding-bottom: 10000px;
}

#rascals-panel-content {
    float: left;
    width: 645px;
    position: relative;
    background: #fff;
    margin-bottom: -10000px;
    border-left-color: transparent;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 20px 20px 10000px;
}
@media only screen and (max-width:1120px) {
    #rascals-panel {
        width: 710px;
    }
    #rascals-panel-sidebar {
        width:200px;
    }
    #rascals-panel-content {
        width:510px;
    }
}

.box-row {
    position: relative;
}

.rascals-panel-tab {
    display: none;
    z-index: 1;
    position: relative;
}

.rascals-panel-main-tab {
    padding: 0 0 40px;
}

#rascals-panel-logo {
    padding-top: 0;
    overflow: hidden;
}

#rascals-panel-logo img {
    display: inline-block;
    max-width: 100%;
    max-height: 100%;
    vertical-align: bottom;
}
#_save {
    display: inline-block;
    min-width: 160px;
    min-height: 35px;
    margin: 20px auto;
    background-color: #000000;
}
#_save:hover {
    background:#333;
}

/* Navigation
------------------------------------------------------------------------ */
.rascals-panel-menu {
    position: relative;
    text-align: left;
    margin: 0;
}

.rascals-panel-menu li {
    margin: 0;
    padding: 0;
}

.rascals-panel-menu a:active,
.rascals-panel-menu a:focus {
    outline: 0;
    box-shadow: none;
}

.rascals-panel-menu a {
    -moz-transition: all .2s ease;
    -ms-transition: all .2s ease;
    -o-transtion: all .2s ease;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
}

.rascals-panel-menu li a.rascals-panel-menu-level0 {
    color: #555;
    font-size: 13px;
    line-height: 34px;
    width: auto;
    height: 34px;
    text-decoration: none;
    display: block;
    background: #e8e8e8;
    cursor: pointer;
    padding: 0 4px 0 12px;
    margin-bottom: 1px;
}

.rascals-panel-menu li a.rascals-panel-menu-level0 i {
    color: #868484;
    font-size: 16px;
}

.rascals-panel-menu .icon {
    margin-right: 12px;
}

.rascals-panel-menu li a.rascals-panel-menu-level0.active,
.rascals-panel-menu li a.rascals-panel-menu-level0.active:hover,
.rascals-panel-menu li a.rascals-panel-menu-level0:hover {
    background: #ddd;
    color: #555;
}

.rascals-panel-menu li a.rascals-panel-menu-level0.active i,
.rascals-panel-menu li a.rascals-panel-menu-level0.active:hover i,
.rascals-panel-menu li a.rascals-panel-menu-level0:hover i {
    color: #111;
}

.rascals-panel-sub-menu {
    display: none;
}

.rascals-panel-sub-menu li {
    margin: 0 0 1px 0;
    padding: 0;
    background: #f1f1f1;
}

.rascals-panel-sub-menu a {
    font-size: 13px;
    display: block;
    color: #555;
    text-decoration: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    padding: 8px 0 8px 40px;
}
.rascals-panel-sub-menu a.active {
    color: #111;
    font-weight: 500;
    background: #fff;
}


/* Breadcrumb
------------------------------------------------------------------------ */
.rascals-panel-breadcrumb {
    margin-bottom: 20px;
    padding-bottom: 10px;
    font-size: 15px;
    display: block;
    font-weight: 400;
    border-bottom: 1px solid #ddd;
}

.rascals-panel-breadcrumb div {
    color: #bababa;
    display: inline-block;
    height: 20px;
    position: relative;
    overflow: hidden;
    line-height: 20px;
}

.rascals-panel-breadcrumb .r-separator {
    color: #eaeaea;
    margin: 0 8px;
}

.rascals-panel-breadcrumb ul {
    position: relative;
    left: 0;
    top: 0;
    color: #8e8e8e;
    margin: 0;
}

.rascals-panel-breadcrumb ul li {
    height: 20px;
    line-height: 20px;
    margin: 0;
    padding: 0;
    font-weight: 600;
}


/* Media queries
------------------------------------------------------------------------ */
@media only screen and (max-width:900px) {
    #wpcontent,
    .auto-fold #wpcontent {
        padding-right: 10px;
    }

    #rascals-panel-sidebar {
        width: 100%;
        display: none;
    }

    #rascals-panel-sidebar #rascals-panel-logo,
    #rascals-panel-sidebar #_save {
        display: none;
    }

    .rascals-panel-menu li a.rascals-panel-menu-level0 {
        font-size: 14px;
        line-height: 40px;
        height: 40px;
    }

    .rascals-panel-menu li a.rascals-panel-menu-level0 i {
        font-size: 16px;
    }

    .rascals-panel-sub-menu a {
        font-size: 14px;
        padding: 10px 0 10px 40px;
    }

    #rascals-panel-content,
    #rascals-panel {
        margin-left:0;
        width: 100%;
    }

    #rascals-panel-top,
    #rascals-panel-sidebar.mobile-nav {
        display: block;
    }

}

@media screen and (max-width:782px) {
    ._button {
        padding: 8px 14px !important;
    }

}


/* Forms
------------------------------------------------------------------------ */
/* Label */
.box-row label {
    font-weight: 600;
    font-size: 12px;
    margin-bottom: 10px;
    color: #222;
}

/* Inputs */
#rascals-panel input[type=time], #rascals-panel input[type=email], #rascals-panel input[type=number], #rascals-panel input[type=password], #rascals-panel input[type=search], #rascals-panel input[type=tel], #rascals-panel input[type=text], #rascals-panel input[type=url] {
   background: #fff;
   color: #444;
   font-size: 13px;
   padding: 6px 8px;
   vertical-align: middle;
   border: none;
   max-width: 220px;
   outline: 0;
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
   min-width: 220px;
   border-radius: 2px;
   box-shadow:none;
   border:1px solid #e3e3e3;
}

/* Textarea */
#rascals-panel textarea {
     background: #fff;
     color: #444;
     font-size: 12px;
     padding: 0 7px;
     max-width:500px;
     width:100%;
     font-weight:400;
     padding: 6px 8px;
     border-radius:2px;
     box-shadow:none;
     border:1px solid #e3e3e3;
}

/* Select */
#rascals-panel select {
    background: #fff;
    color: #444;
    font-size: 13px;
    width: auto;
    display: block;
    max-width: 220px;
    min-width: 220px;
    margin-bottom: 0;
    clear: both;
    margin-bottom: 10px;
    padding: 6px 8px;
    height:auto;
    border-radius:2px;
    box-shadow:none;
    border:1px solid #e3e3e3;
    -webkit-appearance: button;
}
#rascals-panel select[multiple] {
    min-height:180px;
}

/* Buttons */
#rascals-panel button {
}
#rascals-panel .special-button {
    margin-top: 10px;
}
#rascals-panel .wp-switch-editor { margin-bottom:0 }

/* Range / Gradient direction */
#rascals-panel .range-input,
#rascals-panel .gradient-direction {
    max-width:60px !important;
    min-width:60px !important;;
}
/* Colorpicker */
.colorpicker-wrap input { border-radius: 0; }

/* Editor */
.custom-tiny-editor {
    clear: both;
    margin-bottom: 10px;
}
.custom-tiny-editor .mceLayout { background-color:#fff; }

@media screen and (max-width: 782px) { 
    body #rascals-panel select {
        font-size:13px !important;
        height:auto !important;
    }
    #rascals-panel select[multiple] {
        
    }
}


/* Fileds
------------------------------------------------------------------------ */
#rascals-panel .box-row {
        position: relative;
    }
        #rascals-panel .box-row-input {
            margin-top:20px;
            /* margin-bottom: 20px; */
            display: table;
            width: 100%;
        }
        #rascals-panel .box-row-line {
            width: 100%;
            height: 1px;
            border-bottom: 1px dashed #ddd;
            padding-bottom: 15px;
        }
            #rascals-panel .box-row-input .box-tc {
                display: table-cell;
                vertical-align: top;
            }
            #rascals-panel .box-row-input .box-tc-label {
                width: 130px;
                padding-right: 20px;
            }
            #rascals-panel .box-row-input .box-tc-input {
                min-width: 200px;
            }
            #rascals-panel .box-row-input .sub-name {
                font-size: 11px;
                font-weight:600;
            }

            /* Help Box */
            .help-box {
                width: 100%;
                display: block;
                font-size: 11px;
                line-height: 14px;
                color: #aaa;
                font-style: italic;
            }

@media screen and (max-width: 782px) { 
    #rascals-panel .box-row-input {
        display: block
    }
    #rascals-panel .box-row-input .box-tc {
        display: block;
    }
    #rascals-panel .box-row-input .box-tc-label {
        margin-bottom:10px
    }
}


/* Helpers
------------------------------------------------------------------------*/

/* Misc
------------------------------------*/
.hidden {
    display: none !important;
}


/* Depedences
------------------------------------*/
.dependent-hidden {
    display: none
}


/* Messages
------------------------------------*/
.box-row .msg-dotted {
    padding: 24px;
    margin: 6px 0;
    overflow: hidden;
    border: 1px dashed #ccc;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    border-radius:5px;
    color: #888;
}

/* Error */
.box-row .msg.msg-error {
    border-color: #e9c59b;
    background: #ffecce;
    color: #e3302c;
}

/* Success */
.box-row .msg.msg-success {
    border-color: #bfde84;
    background: #edfbd8;
    color: #508600;
}

/* Info */      
.box-row .msg.msg-info {
    border-color: #bbdbe0;
    background: #ecf9ff;
    color: #0888c3;
}

/* Warning */
.box-row .msg.msg-warning {
    border-color: #e5e181;
    background: #fefde2;
    color: #666;
}

.box-row .msg {
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    display: block;
    font-size: 12px;
    font-weight: bold;
    border-left: 4px solid;
    padding: 16px 30px 16px 24px;
    clear: both;
    margin: 10px 0;
}


/* Code
------------------------------------*/
.box-row code {
    display: block;
    border-width: 1px;
    border-left-width: 4px;
    border-style: solid;
    border-color: #ccc;
    overflow: auto;
    font-family: "Courier New", Courier, monospace;
    margin: 10px 0;
    color: #666;
    font-size: 11px;
    line-height: 16px;
    padding: 10px;
    clear: both;
    width: auto;
    height: 100%;
    max-width:470px;
    background-color: #f6f6f6;
}


/* Font Awesome icon
------------------------------------*/
i.icon {
    font-style: normal;
    font-family: 'FontAwesome';
    text-shadow: none;
    font-size: 14px;
    font-weight: normal;
}

i.icon {
    display: inline-block;
    margin-right: 10px;
}

/* Plugins
------------------------------------------------------------------------ */

/* Time range
------------------------------------*/
#rascals-panel .timepicker-input {
    min-width:90px;
    display:inline-block;
}
#rascals-panel .date-separator:after {
    content:"-";
    color:#aaa;
    margin:0 5px;
}


/* ON/OFF Switch
------------------------------------*/
#rascals-panel .switch-wrap {
    position: relative;
    height: 25px;
    width: 60px;
}
#rascals-panel .switch-wrap select {
    display: none;
}
#rascals-panel .switch-on-off {
    vertical-align: middle;
    display: inline-block;
    cursor: pointer;
    position: relative;
    width: 50px;
    height: 20px;
    line-height: 27px;
    overflow: hidden;
    text-align: left;
}
#rascals-panel .switch-on-off .onstate,
#rascals-panel .switch-on-off .offstate {
    display: block;
    padding-left: 25px;
    width: 50px;
    height: 20px;
    line-height: 20px;
    background: #000000;
    color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 600;
    transition: all cubic-bezier(0.76, 0, 0.174, 1) .4s;
}

#rascals-panel .switch-on-off .offstate {
    background: #ddd;
    color: #999;
    left: -50px;
    padding-left: 5px;
}

#rascals-panel .switch-on-off .onstate:before, .switch-on-off .offstate:before {
    position: absolute;
    content: " ";
    width: 16px;
    height: 16px;
    top: 2px;
    left: 2px;
    background: #fff;
}
#rascals-panel .switch-on-off .offstate:before {
    background: #999;
    left: auto;
    right: 2px;
}
#rascals-panel .switch-on-off.off .offstate {
    left: 0px;
}
#rascals-panel .switch-on-off.off .onstate {
    left: 50px;
}


/* Image Select
------------------------------------*/
#rascals-panel ul.select-image {
    overflow: hidden;
    margin: 0 0 5px 0;
}

#rascals-panel ul.select-image li {
    position: relative;
    overflow: hidden;
    float: left;
    margin: 5px;
}

#rascals-panel ul.select-image li img {
    display: block;
    cursor: pointer;
    opacity: .6;
    position: relative;
    transition: opacity .25s ease-in-out;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    border: 1px solid #ddd;
    padding: 5px;
    border-radius: 2px;
    max-width:120px;
}

#rascals-panel ul.select-image.size-medium li img {
    width: 60px;
}

#rascals-panel ul.select-image.size-small li img {
    width: 40px;
}

#rascals-panel ul.select-image li img.selected-image {
    opacity: 1;
    border: 3px solid #000000;
    padding: 3px;
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
   
}

#rascals-panel .select-image-input {
    display: none;
}


/* Datepicker
------------------------------------*/
#rascals-panel input[type=text].datepicker-input {
    max-width: 90px;
    min-width:90px;
    display: inline-block;
}


/* Range
------------------------------------*/
.range-unit {
    font-size: 12px;
    color:#aaa;
    font-style: italic;
    margin-left: 5px;
}


/* Upload
------------------------------------*/
.image-holder {
    clear:both;
    display:block;
    position:relative;
    width: 70px;
    height: 70px;
    background:#f6f6f6;
    border:1px solid #ddd;
    padding: 4px;
    margin-bottom: 10px;
    border-radius:2px
}
.image-holder img {
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    margin:auto;
    max-width:70px;
}
.image-holder .upload-image {
    position: absolute;
    left: 7px;
    top: 7px;
    width: 65px;
    height: 65px;
    vertical-align: middle;
    text-align: center;
    color: #000;
    z-index: 3;
    background:#fff;
    cursor:pointer;
    border: 0;
    border:none;
     
}
.image-holder .upload-image:actived {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.image-holder .upload-image:focus {
    outline:none
}
.image-holder.is_image .upload-image { background: transparent}
.image-holder .upload-image i {
    font-size:16px;
    margin: 0;
    background:#fff;
    padding:3px;
    text-align:center;
    border-radius:100%;
    vertical-align: middle;
    line-height: 18px;
    opacity:0.8;
}
.image-holder.is_image .upload-image i { 
    display:none;
}
.image-holder .remove-image {
    position: absolute;
    right: -8px;
    top: -8px;
    width: 20px;
    height: 20px;
    vertical-align: middle;
    text-align: center;
    color: #fff;
    z-index: 5;
    background:#e65345;
    cursor:pointer;
    border: 0;
    border-radius:100%;
    display: none;
}
.image-holder .remove-image:hover i {
    opacity:1;
}
.image-holder .remove-image i {
    font-size:16px;
    margin: 0;
    line-height: 20px;
}
.image-holder.is_image .remove-image { display: block; }
.image-crop-wrap { 
    clear: both; 
    width: 100%;
}
.image-crop-wrap select { min-width:120px; }


/* Easy Link
------------------------------------*/
.box-row label.easylink-label {
    font-size: 12px;
    margin-top:5px;
    margin-bottom:0;
    display:inline-block;
}
.box-row label input[type=checkbox].link-new-window {
    margin-left:5px !important;
    display:inline-block;

}

/* BG Generator
------------------------------------*/
.bg-generator-wrap { position:relative; }
.bg-generator-input { margin-bottom: 10px; }

/* ---- Media Editor ---- */
#bg-editor-content {
    display: none;
}

#bg-editor-box {
    padding: 12px;
}

#bg-editor-loader {
    float: right;
    margin: 12px;
    display: none;
}
#bg-editor-content fieldset { clear:  both; }

.bg-image-holder.image-holder img {
    z-index: 4;
}
.image-holder .preview-color-holder {
    z-index: 1;
}
.bg-holder { display: none;}


/* Color Picker and gradient
------------------------------------*/
.box-row .wp-picker-container input[type=text].wp-color-picker {
    margin: 0 6px 0 0;
    padding: 3px;
}

.gradient-direction {
    width: 80px;
    display: block;
    float: none;
    padding: 2px;
}
.gradient-col {
    display: inline-block;
    margin-right: 10px;
    min-height:50px;
    vertical-align:top;
}
.gradient-col > .wp-picker-container {
    display:block;
}


/* Sortable List
------------------------------------*/
.sortable-list-wrap {
    padding-top:20px;
}
.sortable-list {
    padding: 0;
}

.sortable-list li {
    position: relative;
    padding: 5px;
    border: 1px solid #f6f6f6;
    min-height: 40px;
    background-color: #efefef;
}
.sortable-list li p {
    width:100%;
    display:block;
    overflow:hidden;
    margin: 0;
}
.sortable-list .content {
    display: block;
    clear: both;
    padding: 0 10px 0 60px;
    overflow:hidden;
}

.sortable-list .content .scol {
    width: 100%;
    overflow: hidden;
    padding-right: 10px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box
}

.sortable-list .content .scol input,
.sortable-list .content .scol select,
.sortable-list .content .scol textarea {
    width: 100%;
    margin-bottom: 0;
}
 #rascals-panel .sortable-list .content label {
    width: 14%;
 }
 #rascals-panel .sortable-list .content input[type=text] {
    width: 70%;
    max-width:70%;
    min-width:70%;
    /* padding:0 5px; */
 }

.sortable-list .content .scol select {
    height: 36px;
}

.sortable-list input {
    float: left !important;
}

.sortable-list label {
    float: left;
    font-size: 12px;
    font-weight: 700;
    color: #333;
    margin: 8px 10px 10px 0;
    float: left;
}

.sortable-list .delete-item i {
    font-size: 18px;
}

.sortable-list .drag-item i {
    font-size: 14px;
}

.sortable-list .delete-item {
    position: absolute;
    text-align: center;
    left: 10px;
    top: 16px;
    cursor: pointer;
    width: 16px;
    height: 16px;
    color: #ff4116;
}

.sortable-list .drag-item {
    position: absolute;
    top: 16px;
    width: 16px;
    height: 16px;
    left: 37px;
    cursor: move;
    opacity: .2;
    color: #666;
}

.sortable .drag-item {
    opacity: 1;
}

.add-new-item {
    margin-top: 8px;
    margin-bottom: 8px;
}


/* Notification UI
------------------------------------*/
.ui-notify {
    width: 350px;
    position: fixed;
    top: 40px;
    right: 10px;
    z-index: 1100;
}

.ui-notify-message {
    padding: 10px;
    margin-bottom: 15px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px
}

.ui-notify-message h1 {
    font-size: 14px;
    margin: 0;
    padding: 0
}

.ui-notify-message p {
    margin: 3px 0;
    padding: 0;
    line-height: 18px
}

.ui-notify-message:last-child {
    margin-bottom: 0
}

.ui-notify-message-style {
    background: #f86239;
}

.ui-notify-message-style h1 {
    color: #fff;
    font-weight: bold
}

.ui-notify-message-style p {
    color: #fff
}

.ui-notify-close {
    color: #fff;
    text-decoration: underline
}

.ui-notify-click {
    cursor: pointer
}

.ui-notify-cross {
    margin-top: -4px;
    float: right;
    cursor: pointer;
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
    text-shadow: 0 1px 1px #fff;
    padding: 2px
}

.ui-notify-cross:hover {
    color: #ffffab
}

.ui-notify-cross:active {
    position: relative;
    top: 1px
}

/* CSS
  -------------------------------- */ 
.css-options {
}
.css-options .multi-data {display:none;}
.css-options .multi-container {
    position:relative;
}
.css-options .multi-container p {
    position:relative;
    display:inline-block;
    margin-bottom:0px;    
}
.css-options.hide-labels .multi-container label {
    display:none;
}
.css-options .multi-container input {
    display:block;
}
#rascals-panel .css-options .multi-container input[type=text] {
    padding:2px;
    margin-right:5px;
}
.css-options .multi-container label {
    text-transform:uppercase;
    font-size:10px;
    letter-spacing: 1px;
    color:#fff;
    background:#c1c1c1;
    padding:3px 9px;
    min-width:50px;
    margin-bottom:-1px;
    display:inline-block;
}

/* Box Model */
.css-options.css-box-model .multi-container {
    width:80px;
    height:80px;
    margin-left:10px;
    border:1px solid #eee;
    margin-bottom:20px;
    margin-top:10px;
}

.css-options.css-box-model .multi-container p {
    max-width:45px;
    position:absolute;
    overflow:hidden;
}
.css-options.css-box-model .multi-container p:nth-child(1) {
    left:19px;
    top:-30px;
}
.css-options.css-box-model .multi-container p:nth-child(2) {
    right:-23px;
    top:10px;
}
.css-options.css-box-model .multi-container p:nth-child(3) {
    left:18px;
    bottom:-15px;
}
.css-options.css-box-model .multi-container p:nth-child(4) {
    left:-20px;
    top:10px;
}
.css-options.css-box-model .multi-container label {
   display:none;
}

#rascals-panel .css-options.css-box-model .multi-container input[type=text] {
    font-size:11px;
    padding:0;
    display: inline-block;
    width: 40px;
    min-width: 40px;
    text-align:center;
}

/* Socials */
#rascals-panel .social-options {

}
#rascals-panel .social-options p {
    width:50%;
}

/* Socials */
#rascals-panel .socials-sortable-list .content input[type=text],
#rascals-panel .socials-sortable-list li select {
    width: 50%;
    max-width:50%;
    min-width:50%;
}
#rascals-panel .socials-sortable-list li select {
    padding:5px;
    margin-bottom: 0;
}
#rascals-panel .socials-sortable-list .content input[type=text] {
    min-height: 5px;
    line-height:normal;
}
#rascals-panel .socials-sortable-list .content {
    display:flex;
}
